/* Primary Button - White with Black Hover */
.primary-button-white-blackhover {
    padding: 0.8em 2.5em;
    border: 2px solid black;
    outline: none;
    color: rgb(0, 0, 0);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 999px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.primary-button-white-blackhover:before {
    content: "";
    background: linear-gradient(15deg,
            #ff0077,
            #ff0077,
            #6f00ff,
            #6f00ff,
            #ff0088,
            #000000,
            #a000ff,
            #ff0077,
            #ff0077);
    position: absolute;
    top: 7px;
    left: 7px;
    background-size: 400%;
    z-index: -1;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    width: 100%;
    height: 100%;
    animation: glowing-primary-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 999px;
    opacity: 0;
}

.primary-button-white-blackhover:hover:before {
    opacity: 1;
}

@keyframes glowing-primary-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.primary-button-white-blackhover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 999px;
    transition: background-color 0.3s ease-in-out;
}

.primary-button-white-blackhover:hover:after {
    background: #000;
}

.primary-button-white-blackhover:hover {
    color: #fff;
    border-color: transparent;
}