@import "tailwindcss";
@import "tw-animate-css";

/* Import modular stylesheets */
@import "../styles/theme.css";
@import "../styles/variables.css";
@import "../styles/base.css";
@import "../styles/animations.css";
@import "../styles/typography.css";
@import "../styles/components/primary-button.css";
@import "../styles/components/primary-button-black-whitehover.css";
@import "../styles/components/primary-button-black-whitehover-always.css";
@import "../styles/components/primary-button-white-blackhover-always.css";
@import "../styles/components/primary-button-00e5ff-whitehover-always.css";
@import "../styles/components/primary-button-white-whitehover-always.css";
@import "../styles/components/primary-button-00e5ff-whitehover.css";
@import "../styles/components/footer.css";

@tailwind base;
@tailwind components;
@tailwind utilities;